body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.button {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;

    text-align: center;
    text-transform: uppercase;
    padding-top: 12px;
    padding-bottom: 12px;

    color: #FFFFFF;
    background-color: #ee3643;
    border: none;

    border-radius: 3px;
}

.button:hover, .button:focus {
    background-color: #ca2c37;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

/* Шапка начало */

.main-header {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    color: #FFFFFF;
    background-color: #f3f7f8;
    padding-bottom: 60px;
    margin-bottom: 60px;
}

.inner-page .main-header {
    margin-bottom: 0px;
}

.header-top {
    background-color: #293449;
    min-height: 40px;
    margin-bottom: 50px;
}

.header-top .container {
    display: flex;
    justify-content: start;
}

.header-logo {
    font-size: 24px;
    background-color: #ee3643;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.header-logo:hover,
.header-logo:focus {
    background-color: #ca2c37;
}

.header-search {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-search input {
    height: 40px;
    padding: 0px;
    border: none;
    background-color: #293449;
    color: #FFFFFF;
}

.header-search svg {
    padding: 0px 20px;
    fill: #FFFFFF;
    opacity: 30%;
}

.header-search input::placeholder {
    color: #FFFFFF;
    opacity: 1;
}

.header-search input:focus {
    outline: none;
}

.header-search:hover svg,
.header-search:focus svg {
    opacity: 100%;
}

.header-search input:focus ~ svg {
    fill: #ee3643;
}

.header-user-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: auto;

    display: flex;
    justify-content: start;
    width: 460px;
}

.header-user-menu li {
    width: 140px;
}

.header-user-menu a {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    color: #FFFFFF;
}

.menu-bookmarks, .menu-basket {
    position: relative;
}

.menu-bookmarks svg, .menu-basket svg {
    position: absolute;
    top: 12px;
    left: 10px;
    fill: #FFFFFF;
    opacity: 30%;
}

.header-user-menu li:hover svg,
.header-user-menu li:focus svg {
    opacity: 100%;
}

.menu-order {
    background-color: #63a63e;
}

.menu-order:hover,
.menu-order:focus {
    background-color: #5fbb2d;
}

.header-desc {
    font-size: 21px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
}

.header-description {
    font-size: 16px;
    line-height: 23px;

    font-style: italic;
    color: #ee3643;
    width: 300px;
    margin: 0px;
}

.header-phone-address {
    width: 300px;
}

.user-panel {
    width: 300px;
}

.header-phone {
    display: block;
    border: 3px solid #FFFFFF;
    padding: 10px;
    color: #ee3643;
    width: 270px;
    text-align: center;
    position: relative;
}

.header-phone img {
    position: absolute;
    top: 12px;
    left: 19px;
}

.header-address {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
    text-align: center;
}

.user-panel {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.user-panel-profile {
    width: 100%;
}

.user-panel-orders {

}

.user-panel-member {

}

.header-buttons-user {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.button-user {
    background-color: #FFFFFF;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 45px;
}

.button-user:hover,
.button-user:focus {
    color: #ee3643;
}

.button-login:hover:before,
.button-login:focus:before {
    opacity: 100%;
}

.button-login {
    position: relative;
}

.button-login:before {
    content: url('../img/icon-login.svg');
    position: absolute;
    top: 12px;
    left: 15px;
    opacity: 50%;
}

.header-menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #32425c;

    display: flex;
    justify-content: space-between;

    min-height: 60px;
}

.header-menu-list a {
    color: #FFFFFF;
    height: 60px;

    padding: 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-menu-list a:hover,
.header-menu-list a:focus {
    background-color: #293449;
}

/* Шапка конец */

/* Главная начало */

.main {
    background-color: #FFFFFF;
}

.home-catalog {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;

    margin-bottom: 50px;
}

.home-catalog-top {
    display: flex;
    justify-content: space-between;
}

.home-catalog-bottom {
    display: flex;
    justify-content: space-between;
}

.home-catalog h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.home-catalog-item {
    min-height: 120px;
    width: 300px;
    margin-bottom: 20px;
    color: #FFFFFF;
    position: relative;
}

.home-catalog-item-flex {
    display: flex;
    width: 300px;
}

.home-catalog-item-left {
    width: 200px;
    padding: 0px 20px;
}

.home-catalog-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    padding: 0px 10px;
    height: 40px;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.1);
    width: 135px;
}

.home-catalog-desc:hover {
    background-color:rgba(0, 0, 0, 0.2);
}

.home-catalog-item-right {
    width: 100px;
}

.home-catalog-item-right img {
    padding-top: 30px;
}

.home-catalog-item.new:before {
    content: url(../img/new.png);
    position: absolute;
    right: 0px;
}

.home-catalog-item.new:after {
    content: "new";
    position: absolute;
    right: 6px;
    top: 11px;
    transform: rotate(45deg);
    font-size: 16px;
}

.home-slider {
    min-height: 260px;
    width: 620px;
    line-height: 0px;
    position: relative;
}

.slider-item {
    display: none;
}

.slider-item.active {
    display: block;
}

.home-slider-prev {
    border-bottom: 4px solid;
    border-left: 4px solid;
    transform: rotate(45deg);
    left: 34px;
    width: 30px;
    height: 30px;
    border-color: #FFFFFF;
    position: absolute;
    top: 50%;
    margin-top: -31px;
    cursor: pointer;
}

.home-slider-next {
    border-bottom: 4px solid;
    border-left: 4px solid;
    transform: rotate(-135deg);
    right: 34px;
    width: 30px;
    height: 30px;
    border-color: #FFFFFF;
    position: absolute;
    top: 50%;
    margin-top: -31px;
    cursor: pointer;
}

.home-slider a {
    width: 200px;
    display: block;
    position: absolute;
    left: 25px;
    bottom: 25px;
}

.slider-header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(100% - 50px);
    height: 50px;
    background-color:rgba(0, 0, 0, 0.25);
    padding: 25px;
}

.slider-header h2 {
    font-size: 36px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0px;
    margin-bottom: 7px;
}

.slider-header p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    margin: 0px;
}

.home-two-item {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}

.home-catalog-top .home-catalog-item:nth-child(1) {
    background-color: #ffbf47;
}

.home-catalog-top .home-catalog-item:nth-child(2) {
    background-color: #3bbce3;
}

.home-catalog-top .home-catalog-item:nth-child(3) {
    background-color: #dc91d8;
}

.home-catalog-bottom .home-catalog-item:nth-child(1) {
    background-color: #8ed78f;
}

.home-catalog-bottom .home-catalog-item:nth-child(2) {
    background-color: #ffc047;
    margin-bottom: 0px;
}

.products-popular, .products-list {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    margin-bottom: 30px;
}

.products-list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-header {
    background-color: #f9f5f0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
}

.section-header h2 {
    margin: 0px;
    color: #32425c;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.section-header a {
    width: 250px;
}

.products-item {
    width: 220px;
    border: 1px solid #eaeaea;
    text-align: center;
    margin-bottom: 20px;
}

.products-item:hover .products-item-img-href {
    display: none;
}

.products-item:hover .products-item-buttons {
    display: flex;
}

.products-item-buttons {
    width: 140px;
    flex-wrap: wrap;
    display: none;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.products-item-buttons .button {
    width: 140px;
}

.products-item a.button-buy {
    background-color: #63a63e;
    color: #FFFFFF;
    margin-top: 15px;
    position: relative;
}

.products-item a.button-buy:hover {
    background-color: #5fbb2d;
}

.products-item a.button-buy:hover:before {
    opacity: 100%;
}

.button-buy:before {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 12px;
    left: 15px;
    content: url('../img/icon-basket.png');
    opacity: 30%;
}

.products-item a.button-bookmark {
    color: #32425c;
    margin-top: 10px;
    background-color: #FFFFFF;
    border: 3px solid #63a63e;
}

.products-item a.button-bookmark:hover {
    border: 3px solid #32425c;
}

.products-popular h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
}

.products-item h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    padding: 0px 30px;
}

.products-item a {
    color: #000000;
}

.products-item .products-item-price {
    font-weight: 700;
    text-decoration: line-through;
    color: #a9a9a9;
}

.products-item .products-item-discount-price {
    font-weight: 700;
    color: #FFFFFF;
    background-color: #ee3643;
    padding: 10px 0px;
    width: 115px;
    margin: auto;
    margin-bottom: 20px;
    position: relative;
}

.products-item .products-item-discount-price::after {
    content: '';
    position: absolute;
    right: -39px;
    top: 0px;
    border: 19px solid transparent;
    border-left: 20px solid #ee3643;
}

.manufacturer-popular {
    margin-bottom: 90px;
}

.manufacturer-popular h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
}

.manufacturer-popular-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.manufacturer-popular-item {
    border: 1px solid #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 25px;
}

.manufacturer-popular-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    min-height: 145px;
}

.services {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;

    background-color: #f4f8f9;
    padding: 65px 0px 100px 0px;
    margin-bottom: 70px;
}

.services h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.services-flex-container {
    display: flex;
    justify-content: space-between;
}

.services-menu {
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;

    list-style: none;
    margin: 0;
    padding: 0;

    width: 240px;
}

.services-menu li {
    background-color: #32425c;
    color: #FFFFFF;
    padding: 20px;
    border-bottom: 1px solid #4d637b;
    cursor: pointer;
}

.services-menu li:hover {
    background-color: #293449;
}

.services-menu li.active {
    background-color: #FFFFFF;
    color: #32425c;
}

.services-content {
    width: 620px;
    display: flex;
    justify-content: space-between;
    display: none;
}

.services-content-credit .button {
    display: block;
    width: 195px;
}


.services-content-delivery {
    display: flex;
}

.services-desc {
    width: 300px;
}

.services-img {
    height: 200px;
}

.services-desc h3 {
    font-size: 36px;
    line-height: 36px;
    margin: 0px;
}

.about-contacts {
    display: flex;
    justify-content: space-between;

    margin-bottom: 85px;
}

.about-and-contacts {
    background-color: #FFFFFF;
}

.about {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;

    width: 620px;
}

.about h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.about-partners {
    list-style: none;
    margin: 0;
    padding: 0;

    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;

    margin-bottom: 30px;
}

.about-partners li {
    padding: 7px;
    padding-left: 32px;
    position: relative;
}

.about-partners li:before {
    position: absolute;
    top: 15px;
    left: 0px;
    content: '';
    width: 25px;
    border-bottom: 2px solid #ee3643;
}

.about .button {
    display: block;
    width: 220px;
}

.contacts {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;

    width: 300px;
}

.contacts h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
}

.contacts img {
    margin-bottom: 35px;
    cursor: pointer;
}

.contacts .button {
    display: block;
    width: 100%;

}
/* Главная конец */

/* Каталог начало */

.container-shop {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.container-shop h1 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;

    color: #32425c;
    background-color: #f2f6f8;
}

.breadcrumbs {
    list-style: none;

    min-height: 65px;

    font-size: 13px;
    line-height: 18px;
    display: flex;
    justify-content: start;
}

.breadcrumbs li {
    position: relative;
    text-transform: uppercase;
    padding-left: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.breadcrumbs li:before {
    content: '';
    position: absolute;
    left: 7px;
    top: 27px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border-top: 1px solid #c1c6ce;
    border-right: 1px solid #c1c6ce;

}

.breadcrumbs li:nth-child(1):before {
    content: none;
}

.breadcrumbs li:nth-child(1) {
    padding-left: 0px;
}

.breadcrumbs a {
    color: #000000;
}

.page-title {
    padding: 30px;
    margin-bottom: 25px;
    width: calc(100% - 60px);
}

.filters-products {
    display: flex;
    justify-content: space-between;
}

.filters {
    width: 220px;
}

.filters h2 {
    font-size: 13px;
    line-height: 18px;
    margin: 0px;
    text-transform: uppercase;

    background-color: #f7f3ec;
    min-height: 40px;

    display: flex;
    align-items: center;

    padding-left: 15px;
}

.filters-list {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;

    list-style: none;
    margin: 0;
    padding: 0;
}

.filters-list h3 {
    text-transform: uppercase;

}

.amount-range {
    min-height: 80px;
    width: 100%;
    background-color: #f7f3ec;

    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-range {
    width: 100%;
    margin: 0px 30px;
}

.ui-widget.ui-widget-content {
    border: none;
}

.ui-slider .ui-slider-handle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFFFFF;
    top: -10px;
    /*position: relative;*/
}

.ui-slider .ui-slider-handle:before {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #000000;
}

.ui-slider .ui-slider-handle:focus {
    outline: none;
}

.ui-slider-horizontal {
    height: 2px;
}

.ui-slider-horizontal {
    border: none;
    background-color: #00ca74;
}

.ui-widget-header {
    background-color: #d7dcde;
}

.amount-values {
    display: flex;
    justify-content: start;
}

.amount-values-min, .amount-values-max {
    min-height: 40px;
    width: 95px;
    background-color: #f7f3ec;

    display: flex;
    justify-content: center;
    align-items: center;
}

.amount-dash {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filters p {
    position: relative;
}

.filters label {
    padding-left: 40px;
    text-transform: uppercase;
}

.filters input[type=checkbox], .filters input[type=radio] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Крестики начало */

.checkmark-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 2px solid #c5c5c5;
}

.checkmark-cross {
    position: absolute;
    display: none;
}

.filters input[type=checkbox]:checked ~ .checkmark-checkbox .checkmark-cross {
    display: block;
}

.filters input[type=checkbox]:focus ~ .checkmark-checkbox {
    outline: 1px solid #879ece;
}

.checkmark-cross {
    width: 15px;
    height: 15px;
    margin-left: 2px;
    margin-top: 2px;
    position: relative;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg); /* IE 9 */
    -webkit-transform:rotate(45deg); /* Safari and Chrome */
}

.checkmark-cross:before, .checkmark-cross:after {
    content: "";
    position: absolute;
    /*z-index: -1;*/
    background: #c5c5c5;
}

.checkmark-cross:before {
    left: 35%;
    width: 30%;
    margin-left: 35%;
    height: 134%;
    top: -53%;
}

.checkmark-cross:after {
    top: 73%;
    height: 30%;
    margin-top: -15%;
    width: 70%;
    left: 30%;
}

/* Крестики конец */

/* Кружки начало */

.checkmark-radio {
    position: absolute;
    height: 15px;
    width: 15px;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    border: 5px solid #c5c5c5;
}

.checkmark-circle {
    position: absolute;
    display: none;
}

.filters input[type=radio]:checked ~ .checkmark-radio .checkmark-circle {
    display: block;
}

.filters input[type=radio]:focus ~ .checkmark-radio {
    outline: 1px solid #879ece;
}

.checkmark-circle {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #c5c5c5;
    top: 3px;
    left: 3px;
}

.checkmark-circle:before, .checkmark-circle:after {
    content: "";
    position: absolute;
    /*z-index: -1;*/
    background: #c5c5c5;
}

.checkmark-circle:before {
    left: 50%;
    width: 30%;
    margin-left: -15%;
    height: 100%;
}

.checkmark-circle:after {
    top: 50%;
    height: 30%;
    margin-top: -15%;
    width: 100%;
}

/* Кружки конец */

.filters-more {
    width: 140px;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #e5e5e5;
    cursor: pointer;
}

.filters-more:hover, .filters-more:focus {
    background-color: #FFFFFF;
}

.products {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;

    width: 700px;
    margin-bottom: 60px;
}

.sort {
    background-color: #f7f3ec;

    margin-bottom: 25px;
    min-height: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort h3 {
    width: 220px;
    margin: 0px;
    padding-left: 15px;
}

.products-sort-list {
    list-style: none;
    margin: 0;
    padding: 0;

    width: 380px;

    display: flex;
    justify-content: space-between;

    text-transform: uppercase;
}

.products-sort-list li {
    display: inline;
}

.products-sort-list a {
    color: #000000;
    opacity: 50%;
    border-bottom: 1px dotted #ee3643;
}

.products-sort-list a:hover {
    opacity: 100%;
    border-bottom: 1px solid #ee3643;
}

.products-sort-order {
    list-style: none;
    margin: 0;
    padding: 0;

    width: 60px;
    display: inline;
}
.products-sort-order a {
    position: relative;
}

.products-sort-order a:before {
    content: '';
    position: absolute;
    border: 7px solid transparent;
}

.products-sort-order .asc a:before {
    border-bottom: 12px solid #c5c5c5;
    top: -14px;
    left: 0px;
}

.products-sort-order .desc a:before {
    border-top: 12px solid #c5c5c5;
    top: -7px;
    left: 30px;
}

.products-sort-order .asc a:hover:before {
    border-bottom-color: #231f20;
}

.products-sort-order .desc a:hover:before {
    border-top-color: #231f20;
}

.pagination-list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: start;
}

.pagination-item {
    border: 1px solid #e5e5e5;
    margin-right: 10px;
}

.pagination-item:hover,
.pagination-item:focus,
.pagination-item:active {
    border: 1px solid #bdc6ca;
}

.pagination-item-current {
    background-color: #ee3643;
}

.pagination-item-next {
    padding: 0px 30px;
}

.pagination-list a {
    min-height: 36px;
    min-width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}

.pagination-item-current a {
    color: #FFFFFF;
}

.catalog-about {
    padding: 65px 0px;
    background-color: #f2f6f8;
}

.catalog-about h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
}

.catalog-about p {
    font-size: 13px;
    line-height: 24px;
}

/* Каталог конец */

/* Футер начало */

.main-footer {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;

}

.main-footer p {
    margin: 0px;
}

.footer-top .container {
    display: flex;
    justify-content: space-between;

    min-height: 65px;
    padding-bottom: 25px;
}

.footer-top, .footer-main {
    background-color: #32425c;
}

.footer-bottom {
    background-color: #293449;
}

.footer-top .footer-logo {
    font-size: 30px;
    line-height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;

    width: 220px;
    color: #FFFFFF;
    background-color: #ee3643;
}

.footer-logo:hover,
.footer-logo:focus {
    background-color: #ca2c37;
}

.footer-top-menu {
    list-style: none;
    margin: 0;
    padding: 0;

    width: 560px;

    display: flex;
    justify-content: space-between;
}

.footer-top-menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    height: 65px;
    padding: 0px 20px;
}

.footer-top-menu a:hover,
.footer-top-menu a:focus,
.footer-main-menu a:hover,
.footer-main-menu a:focus {
    text-decoration: underline;
}

.footer-main {
    padding-bottom: 50px;
}

.footer-main .container {
    display: flex;
    justify-content: space-between;
}

.footer-address {
    width: 380px;
}

.footer-main-menu {
    list-style: none;
    margin: 0;
    padding: 0;

    width: 560px;

    display: flex;
    justify-content: space-between;
}

.footer-main-menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffd180;
    height: 65px;
    padding: 0px 20px;
}

.footer-bottom {
    font-size: 16px;
    line-height: 18px;

    padding: 35px 0px;
}

.footer-bottom .container {
    display: flex;
    justify-content: space-between;
}

.footer-copyright {
    width: 300px;
}

.footer-social {
    list-style: none;
    margin: 0;
    padding: 0;

    width: 300px;

    display: flex;
    justify-content: center;
}

.footer-social a {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #212a3a;

    margin-right: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-social a:hover, .footer-social a:focus {
    background-color: #ee3643;
}

.footer-bottom-develop {
    width: 300px;
}

.footer-bottom-right {
    display: flex;
    justify-content: space-between;
}

.footer-feedback {
    width: 140px;
}

.footer-bottom-develop {
    width: 140px;
    text-align: center;
}

.footer-bottom-right a {
    color: #ffd180;
}

/* Футер конец */

/* Модал начало */

.modal {
    position: fixed;

    display: none;

    color: #000000;

    background-color: #FFFFFF;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);

    z-index: 2;
}

.modal-write {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 18px;

    top: 120px;
    left: 50%;

    width: 620px;
    margin-left: -310px;
}

.modal-map {
    top: 120px;
    left: 50%;

    width: 940px;
    margin-left: -470px;

    /*display: block;*/
}

.modal-write:before {
    content: "";
    height: 7px;
    background-color: #ff5257;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.modal-show {
    display: block;
    animation: bounce 0.6s;
}

.modal-close {
    position: absolute;
    top: 14px;
    right: 7px;

    width: 22px;
    height: 22px;

    font-size: 0;

    background-color: transparent;
    border: 0;

    cursor: pointer;
}

.modal-close::before,
.modal-close::after {
    content: "";

    position: absolute;
    top: 10px;
    left: 2px;

    width: 19px;
    height: 3px;

    background-color: #ee3643;
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}

.form-write-inputs {
    padding: 50px 80px;
    width: 460px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-write-button {
    padding: 40px 80px;
    background-color: #f4f4f4;
}

.form-write p {
    margin: 0px;
    margin-bottom: 20px;
}

.form-write label, .form-write input, .form-write textarea {
    display: block;
}

.form-write input, .form-write textarea {
    border: 2px solid #dee3e4;
    padding: 8px;
    width: 100%;
}

.form-write textarea {
    min-height: 110px;
}

.form-write label {
    margin-bottom: 15px;
}

.form-write p:nth-child(1), .form-write p:nth-child(2) {
    width: 200px;
}

.form-write p:nth-child(3) {
    width: 100%;
}

.button-write {
    width: 100%;
}

@keyframes bounce {
    0% {
        transform: translateY(-2000px);
    }

    70% {
        transform: translateY(30px);
    }

    90% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.overlay {
    display: none;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.5);
}

/* Модал конец */
