body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

.button {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;

    color: #FFFFFF;
    background-color: #ee3643;
}

/* Шапка начало */

.main-header {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    color: #FFFFFF;
    background-color: #f3f7f8;
}

.header-logo {
    font-size: 24px;
    background-color: #ee3643;
}

.header-user-menu .mark {
    background-color: #63a63e;
}

.header-desc {
    font-size: 21px;
}

.header-desc .header-description {
    font-style: italic;
    color: #ee3643;
}

.header-desc .header-phone {
    color: #ee3643;
}

.header-desc .header-address {
    font-size: 14px;
    color: #32425c;
}

.button-user {
    background-color: #FFFFFF;
    color: #000000;
}

.header-menu-list {
    list-style: none;
    background-color: #32425c;
}

/* Шапка конец */

/* Главная начало */

.container {
    background-color: #FFFFFF;
}

.home-catalog {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.home-catalog h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.home-catalog-item1 {
    background-color: #ffbf47;
}

.home-catalog-item2 {
    background-color: #3bbce3;
}

.home-catalog-item3 {
    background-color: #dc91d8;
}

.home-catalog-item4 {
    background-color: #8ed78f;
}

.home-catalog-item5 {
    background-color: #ffc047;
}

.products-popular {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
}

.section-header {
    background-color: #f9f5f0;
}

.products-popular h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
}

.products-item h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}

.products-item .products-price {
    font-weight: 700;
}

.products-item .products-discount-price {
    font-weight: 700;
    color: #FFFFFF;
    background-color: #ee3643;
}

.manufacturer-popular {

}

.manufacturer-popular h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
}

.manufacturer-popular-list {
    list-style: none;
}

.services {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;

    background-color: #f4f8f9;
}

.services h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
}

.services-menu {
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
}

.services-desc h3 {
    font-size: 36px;
    line-height: 36px;
}

.about-and-contacts {
    background-color: #FFFFFF;
}

.about {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.about h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
}

.about-partners {
    list-style: none;

    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
}

.contacts {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.contacts h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
}

/* Главная конец */

/* Каталог начало */

.container-shop {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.container-shop h1 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;

    color: #32425c;
    background-color: #f2f6f8;
}

.breadcrumbs {
    list-style: none;

    font-size: 13px;
    line-height: 18px;
}

.filters {

}

.filters h2 {
    font-size: 13px;
    line-height: 18px;
}

.filters-list {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
}

.filters-more {

}

.products {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

.products-sort-list {
    list-style: none;
}

.products-sort-order {
    list-style: none;
}

.pagination-list {
    list-style: none;
}

.pagination-item {
    border: 4px solid #000000;
}

.pagination-item-current {
    background-color: #ee3643;
}

.catalog-about h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
}

.catalog-about p {
    font-size: 13px;
    line-height: 24px;
}

/* Каталог конец */

/* Футер начало */

.main-footer {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;

    color: #FFFFFF;
}

.footer-top .footer-logo {
    font-size: 30px;
    line-height: 30px;

    background-color: #ee3643;
}

.footer-top-menu {
    list-style: none;
}

.footer-main .footer-main-menu {
    line-height: 30px;
    color: #ffda96;
}

.footer-bottom {
    font-size: 16px;
    line-height: 18px;
}

.footer-social {
    list-style: none;
}

.footer-bottom-right a {
    color: #ffd180;
}

/* Футер конец */

/* Модал начало */
/* Модал конец */