.main-header {
  background: @color-blue url("../img/header-background.jpg") no-repeat 0;
  background-position: center top;
  background-size: cover;
}

.main-header__wrapper {
  background-color:rgba(0, 0, 0, 0.5);
}

.main-header__logo {
  display: block;
  border-bottom: 1px solid @color-black;
}

.main-header__logo-img-block {
  .container-mobile();

  display: flex;
  justify-content: space-between;
  position: relative;
}

.main-header__logo-img {
  display: flex;
  align-items: center;

  height: 70px;
}

.main-header__logo-svg-main {
  fill: white;
  width: 70px;
  height: 25px;

  &:hover {
    fill: @color-red;
  }
}

.main-header__logo-svg--tablet, .main-header__logo-svg--desktop {
  display: none;
}

.main-header__wrapper--closed {
  .main-header__logo-burger-block {
    width: 50px;
    cursor: pointer;
  }

  .main-header__logo-burger {
    top: 23px;
    right: 20px;
  }

  .main-header__logo-burger, .main-header__logo-burger::before, .main-header__logo-burger::after {
    position: absolute;
    width: 50px;
    height: 5px;
    background-color: @color-white;
  }

  .main-header__logo-burger::before {
    content: "";
    top: 10px;
    right: 0px;
  }

  .main-header__logo-burger::after {
    content: "";
    top: 20px;
    right: 0px;
  }
}

.main-header__wrapper--opened {
  .main-header__logo-burger-block {
    width: 50px;
    cursor: pointer;
  }

  .main-header__logo-burger::before, .main-header__logo-burger::after {
    position: absolute;
    content: "";
    width: 35px;
    height: 5px;
    background-color: @color-white;
  }

  .main-header__logo-burger::before {
    top: 32px;
    transform: rotate(45deg);
  }

  .main-header__logo-burger::after {
    top: 32px;
    transform: rotate(135deg);
  }

}





.main-header__cta-wrapper {

}

.main-header__hand {
  min-height: 400px;
}

.main-header__cta {
  background-color: @color-blue-dark;
}

.cta__slogan {
  display: none;
}

.main-header__inner {
  min-height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;

  .container-mobile();
}

.main-header__inner-title {
  font-size: 50px;
  line-height: 50px;
  color: @color-white;
  text-align: center;
}

//////////////////////////////////////////
/// Media
//////////////////////////////////////////

@media (max-width: @width-only-tablet) {
  .main-header__wrapper--closed {
    background-color:rgba(0, 0, 0, 0.5);
  }

  .main-header__wrapper--opened {
    background-color: @color-blue;
  }
}

@media (min-width: @width-tablet) {

  .main-header__logo-img-block {
    .container-tablet();
  }

  .main-header__logo-img {
    height: 110px;
  }

  .main-header__logo-svg-main {
    width: 150px;
    height: 50px;
  }

  .main-header__logo-svg--tablet {
    display: block;
  }

  .main-header__logo-svg--mobile, .main-header__logo-svg--desktop {
    display: none;
  }

  .main-header__wrapper--closed {
    .main-header__logo-burger {
      position: absolute;
      top: 40px;
    }
  }

  .main-header__wrapper--opened {
    .main-header__logo-burger {
      position: absolute;
      top: 20px;
    }
  }



  .main-header__cta-wrapper {
    position: relative;
    min-height: 620px;
    padding: 20px;
  }

  .main-header__cta {
    background-color: transparent;
  }

  .cta__slogan {
    display: block;
  }

  .main-header__inner {
    min-height: 330px;

    .container-tablet();
  }
}

@media (min-width: @width-desktop) {
  .main-header__wrapper {

  }

  .main-header__wrapper-flex {

    .container-desktop();

    display: flex;
    justify-content: space-between;
  }

  .main-header__logo {
    width: 160px;

    background: none;
    border-bottom: none;
  }

  .main-header__logo-img-block {
    height: 110px;

    display: flex;
    align-items: center;
  }

  .main-header__logo-img {

    width: 210px;
    position: absolute;
  }

  .main-header__logo-svg-main {
    //width: 150px;
    //height: 50px;
  }

  .main-header__logo-svg--desktop {
    display: block;
  }

  .main-header__logo-svg--mobile, .main-header__logo-svg--tablet {
    display: none;
  }

  .main-header__logo-burger-block {
    display: none;
  }

  .main-header__top-nav {
    width: 620px;
  }

  .top-nav__list {
    display: flex;
    justify-content: space-between;
  }

  .main-header__cta-wrapper {
    .container-desktop();

    min-height: 715px;
  }

  .main-header__inner {
    min-height: 285px;

    .container-desktop();
  }

}