body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #000000;
    background-image: url("../img/bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.button {
    font: inherit;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px;

    background-color: #000000;
    border: none;
}

.button:hover,
.button:focus,
.button:active {
    background-color: #663d15;
}

body.inner-page {
    background-color: #f6f3f0;
    background-image: none;
}

.inner-page {
    color: #000000;
    background-color: #f9f6f3;
}

.breadcrumbs {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
    color: #aba9a7;
}

.breadcrumbs li {
    display: inline;
    position: relative;

    padding-left: 45px;
}

.breadcrumbs li::before {
    content: "";

    position: absolute;
    top: 4px;
    left: 17px;

    width: 10px;
    height: 10px;

    background-color: #000000;
    transform: rotate(45deg);
}

.breadcrumbs li:nth-child(1)::before {
    content: none;
}

.breadcrumbs li:nth-child(1) {
    padding-left: 0px;
}

.breadcrumbs a {
    color: #000000;
}

/* Шапка начало */

.main-header {
    margin-bottom: 75px;
}

.inner-page .main-header {
    margin-bottom: 0px;
}

.top-nav {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
}

.top-nav-container {
    background-color: #000000;
    margin-bottom: 55px;
}

.inner-page .top-nav-container {
    margin-bottom: 60px;
}

.top-nav-container ul li {
    display: inline;
    /*margin: 0 20px;*/
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.top-nav-container .container {
    display: flex;
    justify-content: space-between;
    min-height: 70px;
}

.inner-page .top-nav-container .container {
    justify-content: start;
}

.inner-page .user-nav {
    margin-left: auto;
}

.site-nav,
.user-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-nav a,
.user-nav a {
    color: #ffffff;
    display: inline-block;
    padding: 25px;
}

.site-nav a:hover,
.site-nav a:focus,
.user-nav a:hover,
.user-nav a:focus {
    background-color: #242424;
}

.site-nav .active a {
    border-bottom: 3px solid #FFFFFF;
    padding-bottom: 22px;
}

.user-nav .login-link {
    position: relative;
    padding-left: 50px;
}

.login-link::before {
    content: "";

    position: absolute;
    top: 28px;
    left: 24px;

    width: 16px;
    height: 18px;

    background-image: url("../img/login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
    opacity: 1;
}

.inner-top-logo {
    padding-top: 24px;
}

/* Шапка конец */

/* Главная начало */

.features {
    font-weight: 100;
    margin-bottom: 85px;
}

.features-list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
}

.features-item {
    text-align: center;
    width: 300px;
}

.features-item h3 {
    font-size: 30px;
    line-height: 42px;
}

.news-gallery {
    margin-bottom: 40px;
}

.index-columns {
    color: #000000;
    background-color: #f8f5f2;
    padding: 50px 80px;

    display: flex;
    justify-content: space-between;
}

.index-columns h2 {
    font-size: 30px;
    line-height: 42px;
}

.news {
    width: 380px;
}

.news-list {
    list-style: none;
    margin: 0;
    padding: 0;

    font-weight: 400;

    padding-bottom: 30px;
}

.news .button {
    width: 140px;
    display: block;
}

.news-item time {
    text-transform: none;
    font-weight: 700;
}

.gallery {
    width: 300px;
}

.gallery-img {
    background-color: #cccccc;
    border: 7px solid #ffffff;
    margin-bottom: 20px;
    line-height: 0px;
}

.gallery-buttons {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.gallery-back, .gallery-next {
    width: 140px;
}

.contacts-appointment {
    margin-bottom: 65px;
}

.contacts {
    width: 380px;
}

.contacts-buttons {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.contacts-buttons a {
    width: 140px;
}

.appointment {
    width: 300px;
}

.appointment-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 300px;
}

.appointment-item {
    width: 140px;
    margin: 0px;
}

.appointment-item label {
    padding: 10px;
    display: block;
}

.appointment-item input[type=text] {
    min-height: 20px;
    padding: 8px;
    width: 120px;
}

.appointment input {
    font: inherit;

    background-color: transparent;
    border: 2px solid #000000;
}

.appointment-form-button {
    margin-top: 20px;
    width: 100%;
}

.appointment input:focus {
    border-color: #663d15;
}

/* Главная конец */

/* Продукт начало */

.main-container {
    background-color: #f2efec;
}

.page-title {
    margin-bottom: 30px;
}

.photo-info {
    display: flex;
    justify-content: space-around;

    margin-bottom: 50px;
}

.product-photos {
    width: 460px;
}

.product-photo-preview {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
}

.product-photo-item {
    width: 140px;
}

.product-info {
    width: 390px;
}

.availability-article {
    display: flex;
    justify-content: space-between;
}

.product-price {
    display: flex;
    width: 190px;
    justify-content: start;
}

.product-price .price {
    width: 110px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.product-price a {
    width: 80px;
}

.product-price b, .catalog-item-price b {
    background-color: #e5e5e5;
    color: #000000;
}

.item-composition {
    list-style: none;
    margin: 0;
    padding: 0;
}

.item-composition li {
    position: relative;
    padding-left: 20px;
}

.item-composition li::before {
    content: "";

    position: absolute;
    top: 8px;
    left: 0px;

    width: 10px;
    height: 10px;

    background-color: #000000;
    transform: rotate(45deg);
}

/* Продукт конец */

/* Прайс-лист начало */

.slogan {
    margin: 0px;
    margin-bottom: 50px;
    text-align: center;

    font-size: 48px;
    line-height: 48px;
    position: relative;
}

.slogan::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 0px;
    width: calc((100% - 590px) / 2);
    height: 2px;
    background-color: #000000;
}

.slogan::after {
    content: "";
    position: absolute;
    top: 25px;
    right: 0px;
    width: calc((100% - 590px) / 2);
    height: 2px;
    background-color: #000000;
}

.instrument-price {
    display: flex;
    justify-content: space-between;
}

.price-instrument, .price-price {
    width: 460px;
}

.price-instrument-list {
    list-style: none;
    margin: 0;
    padding: 0;


}

.price-instrument-list li {
    position: relative;
    padding-left: 20px;
}

.price-instrument-list li::before {
    content: "";

    position: absolute;
    top: 8px;
    left: 0px;

    width: 10px;
    height: 10px;

    background-color: #000000;
    transform: rotate(45deg);
}

.table-pricelist {
    border-collapse: collapse;
    width: 100%;
}

.table-pricelist td {
    border: 2px solid #000000;
    width: 50%;
    padding: 7px;
}

.table-pricelist td:nth-child(2) {
    text-align: center;
}

.price-about-container {
    display: flex;
    justify-content: space-between;

    margin-bottom: 75px;
}

.price-about-container p {
    width: 460px;
}

/* Прайс-лист конец */

/* Каталог начало */

.filters-catalog {
    display: flex;
    justify-content: space-between;

    margin-bottom: 50px;
}

.filters-catalog h3 {
    font-size: 24px;
    line-height: 30px;
}

.filters {
    width: 220px;
}

.filters p {
    position: relative;
}

.filters label {
    padding-left: 50px;
}

.filters label:hover {
    color: #663d15;
}

.filters input[type=checkbox], .filters input[type=radio] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Крестики начало */

.checkmark-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 2px solid #000000;
}

.checkmark-cross {
    position: absolute;
    display: none;
}

.filters input[type=checkbox]:checked ~ .checkmark-checkbox .checkmark-cross {
    display: block;
}

.checkmark-cross {
    width: 15px;
    height: 15px;
    margin-left: 2px;
    margin-top: 2px;
    position: relative;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg); /* IE 9 */
    -webkit-transform:rotate(45deg); /* Safari and Chrome */
}

.checkmark-cross::before, .checkmark-cross::after {
    content: "";
    position: absolute;
    /*z-index: -1;*/
    background: #000000;
}

.checkmark-cross::before {
    left: 50%;
    width: 30%;
    margin-left: -15%;
    height: 100%;
}

.checkmark-cross::after {
    top: 50%;
    height: 30%;
    margin-top: -15%;
    width: 100%;
}

/* Крестики конец */

/* Кружки начало */

.checkmark-radio {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    border: 2px solid #000000;
}

.checkmark-circle {
    position: absolute;
    display: none;
}

.filters input[type=radio]:checked ~ .checkmark-radio .checkmark-circle {
    display: block;
}

.checkmark-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000000;
    top: 5px;
    left: 5px;
}

.checkmark-circle::before, .checkmark-circle::after {
    content: "";
    position: absolute;
    /*z-index: -1;*/
    background: #000000;
}

.checkmark-circle::before {
    left: 50%;
    width: 30%;
    margin-left: -15%;
    height: 100%;
}

.checkmark-circle::after {
    top: 50%;
    height: 30%;
    margin-top: -15%;
    width: 100%;
}

/* Кружки конец */

.filters button {
    width: 110px;
    margin-top: 45px;
}

.catalog {
    width: 700px;
}

.catalog-list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog-item {
    width: 220px;
    margin-bottom: 20px;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.catalog-item .catalog-item-image {
    margin: 0px;
}

.catalog-item img {
    max-width: 220px;
}

.catalog-item h3 {
    padding: 0px 15px;
    font-size: 14px;
    line-height: 18px;
}

.catalog-item h3 a {
    color: #000000;
}

.catalog-item .product-price {
    padding: 0px 15px;
}

.pagination-list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: start;
}


.pagination-item {
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 45px;
    min-width: 45px;
    margin-right: 10px;
}

.pagination-item:hover,
.pagination-item:focus,
.pagination-item:active {
    background-color: #663d15;
}

.pagination-item a {
    color: #FFFFFF;
}

.pagination-item-current a {
    color: #000000;
}

.pagination-item-current {
    background-color: #FFFFFF;
}

/* Каталог конец */

/* Футер начало */

.main-footer {
    color: #ffffff;
    background-color: #212121;
    padding: 60px 0px 40px 0px;
}

.main-footer .container {
    display: flex;
}

.footer-contats {
    width: 380px;
    margin-right: 20px;
    margin: 0px;
}

.text-underline {
    border-bottom: 2px solid #a7a7a7;
}

.footer-contats a {
    color: #ffffff;
    text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
    text-decoration: none;
}

.footer-social {
    text-align: center;
    width: 140px;
}

.footer-social b {
    margin-bottom: 15px;
    display: block;
}

.footer-social-list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
    width: 140px;
}

.footer-social-list li {
    width: 45px;
}

.social-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 45px;
    height: 45px;

    background-color: #000000;
    fill: #FFFFFF;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
    background-color: #FFFFFF;
    fill: #000000;
}

.footer-copyright {
    width: 140px;
    text-align: center;
    margin-left: auto;
}

.footer-copyright p {
    margin: 0px;
    margin-bottom: 20px;
}

.footer-copyright .button {
    width: 100%;
    display: block;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
    color: #000000;

    background-color: #ffffff;
}

/* Футер конец */

/* Модал начало */

.modal {
    color: #000000;
    background-color: #f8f3f0;
    display: none;
}

.modal h2 {
    font-size: 30px;
    line-height: 42px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    font: inherit;
    color: #000000;
    text-transform: uppercase;

    background-color: #f9f6f3;
    border: 2px solid #000000;
}

.login-form input:focus {
    border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
    color: #663d15;
}

.restore {
    color: #000000;
    text-decoration: underline;
}

.restore:hover,
.restore:focus {
    text-decoration: none;
}

/* Модал конец */