body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #000000;
    background-image: url("../img/bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

body.inner-page {
    background-color: #f6f3f0;
    background-image: none;
}

.inner-page {
    color: #000000;
    background-color: #f9f6f3;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

a {
    text-decoration: none;
}

.button {
    font: inherit;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #000000;
    border: none;
}

.button:hover,
.button:focus,
.button:active {
    background-color: #663d15;
}

.breadcrumbs {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
}

.breadcrumbs li {
    display: inline;
}

/* Шапка начало */

.main-header {
    margin-bottom: 75px;
}

.inner-page .main-header {
    margin-bottom: 0px;
}

.top-nav {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
}

.top-nav-container {
    background-color: #000000;
    margin-bottom: 55px;
}

.inner-page .top-nav-container {
    margin-bottom: 60px;
}

.top-nav-container ul li {
    display: inline;
    margin: 0 20px;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.top-nav-container .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
}

.inner-page .top-nav-container .container {
    justify-content: start;
}

.inner-page .user-nav {
    margin-left: auto;
}

.site-nav,
.user-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-nav a,
.user-nav a {
    color: #ffffff;
}

.site-nav a:hover,
.site-nav a:focus,
.user-nav a:hover,
.user-nav a:focus {
    background-color: #242424;
}

/* Шапка конец */

/* Главная начало */

.features {
    font-weight: 100;
    margin-bottom: 85px;
}

.features-list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
}

.features-item {
    text-align: center;
    width: 300px;
}

.features-item h3 {
    font-size: 30px;
    line-height: 42px;
}

.news-gallery {
    margin-bottom: 40px;
}

.index-columns {
    color: #000000;
    background-color: #f8f5f2;
    padding: 50px 80px;

    display: flex;
    justify-content: space-between;
}

.index-columns h2 {
    font-size: 30px;
    line-height: 42px;
}

.news {
    width: 380px;
}

.news-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.news-item time {
    text-transform: none;
}

.gallery {
    width: 300px;
}

.gallery-img {
    background-color: #cccccc;
    border: 7px solid #ffffff;
}

.contacts-appointment {
    margin-bottom: 65px;
}

.contacts {
    width: 380px;
}

.appointment {
    width: 300px;
}

.appointment input {
    font: inherit;

    background-color: transparent;
    border: 2px solid #000000;
}

.appointment input:focus {
    border-color: #663d15;
}

/* Главная конец */

/* Продукт начало */

.main-container {
    background-color: #f2efec;
}

.page-title {
    margin-bottom: 30px;
}

.photo-info {
    display: flex;
    justify-content: space-around;

    margin-bottom: 50px;
}

.product-photos {
    width: 460px;
}

.product-photo-preview {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
}

.product-photo-item {
    width: 140px;
}

.product-info {
    width: 390px;
}

.availability-article {
    display: flex;
    justify-content: space-between;
}

.product-price b, .catalog-item-price b {
    background-color: #e5e5e5;
    color: #000000;
}

.item-composition {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Продукт конец */

/* Прайс-лист начало */

.slogan {
    margin-bottom: 50px;
}

.instrument-price {
    display: flex;
    justify-content: space-between;
}

.price-instrument, .price-price {
    width: 460px;
}

.price-instrument-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.table-pricelist {

}

.price-about-container {
    display: flex;
    justify-content: space-between;

    margin-bottom: 75px;
}

.price-about-container p {
    width: 460px;
}

/* Прайс-лист конец */

/* Каталог начало */

.filters-catalog {
    display: flex;
    justify-content: space-between;

    margin-bottom: 50px;
}

.filters {
    width: 220px;
}

.catalog {
    width: 700px;
}

.catalog-list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog-item {
    width: 220px;
    margin-bottom: 20px;
}

.catalog-item img {
    max-width: 220px;
}

.pagination-list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: start;
}


.pagination-list .pagination-item {
    background-color: #000000;
    color: #FFFFFF;
    display: inline;
    min-height: 45px;
    min-width: 45px;
    text-align: center;
    margin-right: 10px;
}

.pagination-list .pagination-item-current {
    background-color: #FFFFFF;
    color: #000000;
}

/* Каталог конец */

/* Футер начало */

.main-footer {
    color: #ffffff;
    background-color: #212121;
    padding: 60px 0px 40px 0px;
}

.main-footer .container {
    display: flex;
}

.footer-contats {
    width: 380px;
    margin-right: 20px;
}

.footer-contats a {
    color: #ffffff;
    text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
    text-decoration: none;
}

.footer-social {
    text-align: center;
    width: 140px;
}

.footer-social-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-social-list li {
    display: inline;
}

.social-button {
    color: #ffffff;
}

.footer-copyright {
    width: 140px;
    text-align: center;
    margin-left: auto;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
    color: #000000;

    background-color: #ffffff;
}

/* Футер конец */

/* Модал начало */

.modal {
    color: #000000;
    background-color: #f8f3f0;
    display: none;
}

.modal h2 {
    font-size: 30px;
    line-height: 42px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    font: inherit;
    color: #000000;
    text-transform: uppercase;

    background-color: #f9f6f3;
    border: 2px solid #000000;
}

.login-form input:focus {
    border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
    color: #663d15;
}

.restore {
    color: #000000;
    text-decoration: underline;
}

.restore:hover,
.restore:focus {
    text-decoration: none;
}

/* Модал конец */