.button__type1 {
  color: @color-white;
  text-align: center;
  border: 3px solid @color-white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 48px;

  &:hover, &:focus, &:active {
    color: @color-red;
    background-color: @color-white;
  }
}

.button__type2 {

}

.button__type3 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 35px;
  color: @color-white;
  background-color: @color-red;
}

.button__type4 {
  cursor: pointer;
  color: @color-red;
  border: 3px solid @color-red;
  background-color: @color-white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 56px;
  border-radius: 28px;
  &:hover, &:focus, &:active {
    color: @color-white;
    background-color: @color-red;
  }
  &:disabled {
    cursor: auto;
    color: @color-gray-dark;
    border: 3px solid @color-gray-dark;
    &:hover, &:focus, &:active {
      color: @color-gray-dark;
      background-color: @color-white;
    }
  }


}