.footer {
  font-size: 14px;
  line-height: 18px;
  color: @color-blue;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 130px;
  margin-bottom: 40px;
}

.footer__logo-link {
  //width: 100%;
  margin: auto;
  &:hover .footer__logo-svg-main,
  &:focus .footer__logo-svg-main,
  &:active .footer__logo-svg-main {
    fill: @color-red;
  }
}

.footer__logo-svg-main {
  fill: @color-blue;

  width: 150px;
  height: 55px;
}

.footer__logo-svg--tablet {
  display: block;
}

.footer__logo-svg--desktop {
  display: none;
}

.footer__social-list {
  width: 100%;
}

.footer__develop {
  width: 140px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__develop-img {
  width: 27px;
  height: 35px;
  fill: @color-red;
  &:hover {
    fill: @color-blue;
  }
}

@media (max-width: @width-only-mobile) {
  .home-page .footer {
    display: none;
  }
}

@media (min-width: @width-tablet) {
  .footer__logo-svg--tablet {
    display: block;
  }

  .footer__logo-svg--desktop {
    display: none;
  }

  .footer__social-list {
    width: 200px;
  }

  .footer__develop {
    width: 170px;
  }
}

@media (min-width: @width-desktop) {
  .footer {
    font-size: 18px;
    line-height: 18px;
    height: 200px;
  }

  .footer__logo-svg--tablet {
    display: none;
  }

  .footer__logo-svg--desktop {
    display: block;
  }

}