.rewiews {
  font-size: 14px;
  line-height: 30px;
  color: @color-blue;

  .container-mobile();
}

.rewiews__list {
  .reset-list();

  text-align: center;
}

.rewiews__item {
  display: flex;
  flex-wrap: wrap;
}

.rewiews__text {
  order: 20;
}

.rewiews__author {
  font-size: 18px;
  line-height: 30px;
  font-weight: @font-weight-bold;
  color: @color-black;

  width: 100%;
  order: 10;
}

.rewiews__author-info {
  width: 100%;
  display: none;
  order: 30;
}

@media (min-width: @width-tablet) {
  .rewiews {
    font-size: 18px;
    line-height: 30px;

    .container-tablet();
  }

  .rewiews__author {
    font-size: 20px;
    line-height: 30px;
    font-weight: @font-weight-bold;
    order: 25;
  }

  .rewiews__author-info {
    font-size: 14px;
    line-height: 30px;
    display: block;
  }
}

@media (min-width: @width-desktop) {
  .rewiews {
    .container-desktop();
  }

  .rewiews__author {
    font-size: 24px;
    line-height: 30px;
  }

  .rewiews__author-info {
    font-size: 18px;
    line-height: 30px;
  }
}