.button__type1 {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  border-radius: 3px;
}
.main-header {
  background: #283645 url("../img/header-background.jpg") no-repeat 0;
  background-position: center top;
  background-size: cover;
}
.main-header__inner-title {
  font-size: 50px;
  line-height: 50px;
  color: #FFFFFF;
}
.main-header__logo {
  display: block;
  background-color: #283645;
  border-bottom: 1px solid #000000;
}
.main-header__logo-img-block {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}
.main-header__logo-img {
  display: block;
  height: 70px;
  background: url("../img/logo-top-mobile.png") no-repeat 0;
}
.main-header__hand {
  min-height: 400px;
}
.main-header__cta {
  display: none;
}
@media (min-width: 660px) {
  .main-header__logo-img-block {
    width: 660px;
    padding: 0 20px;
  }
  .main-header__logo-img {
    background: url("../img/logo-top-tablet.png") no-repeat 0;
  }
  .main-header__cta-wrapper {
    position: relative;
    min-height: 620px;
    padding: 20px;
  }
}
@media (min-width: 960px) {
  .main-header__wrapper {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .main-header__wrapper-flex {
    margin: 0 auto;
    width: 940px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
  }
  .main-header__logo {
    width: 160px;
    background: none;
    border-bottom: none;
  }
  .main-header__logo-img-block {
    height: 110px;
    width: 160px;
    display: flex;
    align-items: center;
  }
  .main-header__logo-img {
    background: url("../img/logo-top-desktop.png") no-repeat 0;
    width: 160px;
    position: absolute;
    top: 9px;
  }
  .main-header__top-nav {
    width: 620px;
  }
  .top-nav__list {
    display: flex;
    justify-content: space-between;
  }
  .main-header__cta-wrapper {
    margin: 0 auto;
    width: 940px;
    padding: 0 10px;
    min-height: 715px;
  }
}
.top-nav {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  display: none;
}
.top-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.top-nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #283645;
  color: #FFFFFF;
  height: 70px;
  border-bottom: 1px solid #000000;
}
@media (min-width: 960px) {
  .top-nav {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    text-transform: none;
    display: block;
  }
  .top-nav__link {
    background: none;
    height: 110px;
    border-bottom: none;
    padding: 0 20px;
  }
}
.cta {
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}
.cta__slogan {
  font-size: 50px;
  line-height: 50px;
  font-weight: 300;
}
.cta__available {
  font-weight: 300;
}
@media (min-width: 660px) {
  .cta {
    display: block;
    width: 300px;
    text-align: center;
    position: absolute;
  }
}
.hand {
  position: relative;
  width: 100%;
}
.hand__phone {
  position: absolute;
  bottom: 0px;
  left: calc(50% - 127px);
  height: 290px;
}
.hand__screen {
  position: absolute;
  bottom: 77px;
  left: calc(50% - 17px);
  height: 185px;
}
@media (min-width: 660px) {
  .hand {
    position: absolute;
  }
  .hand {
    position: absolute;
    bottom: 0px;
    left: 0px;
    min-height: 620px;
  }
  .hand__phone {
    left: auto;
    right: 40px;
    height: 550px;
  }
  .hand__screen {
    bottom: 147px;
    left: auto;
    right: 117px;
    height: 349px;
  }
}
@media (min-width: 960px) {
  .hand {
    position: absolute;
    bottom: 0px;
    left: 0px;
    min-height: 715px;
  }
  .hand__phone {
    left: auto;
    right: 40px;
    height: 650px;
  }
  .hand__screen {
    bottom: 173px;
    left: auto;
    right: 131px;
    height: 414px;
  }
}
.description {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}
.description__title {
  font-size: 50px;
  line-height: 50px;
  font-weight: 300;
}
.description__item-title,
.description__effect-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
}
.description__effect-link {
  color: #d22856;
}
.rewiews {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}
.rewiews__author {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}
.rewiews__author-info {
  font-size: 18px;
  line-height: 30px;
}
.pricelist {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}
.pricelist__name {
  font-weight: 700;
  color: #FFFFFF;
}
.pricelist__price {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #FFFFFF;
}
.contacts {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}
.contacts__title {
  font-size: 50px;
  line-height: 50px;
  font-weight: 300;
}
.contacts__description {
  font-weight: 700;
}
.contacts__value,
.contacts__value .contacts__link {
  font-size: 24px;
  line-height: 24px;
  color: #d22856;
  font-weight: 300;
}
.footer {
  font-size: 18px;
  line-height: 18px;
  color: #283645;
}
.prize {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}
.prize__person-label {
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
}
.prize__title {
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
}
.photo {
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}
.photo__author_name {
  font-weight: 700;
}
.photo__author_time {
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
}
.photo__like-text {
  font-size: 12px;
  line-height: 24px;
  color: #d22856;
}
.write {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  background-color: #FFFFFF;
  min-width: 320px;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.container {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 660px) {
  .container {
    width: 620px;
    margin: 0 auto;
    padding: 0 20px;
  }
}
@media (min-width: 960px) {
  .container {
    width: 940px;
    margin: 0 auto;
    padding: 0 20px;
  }
}
/*# sourceMappingURL=style.css.map */