@font-family: "MyriadProRegular", Arial, sans-serif;
@font-size: 18px;
@line-height: 30px;
@color: #283645;
@color-white: #FFFFFF;
@color-black: #000000;
@color-red: #d22856;
@background-color: #FFFFFF;

@font-face {
  font-family: "MyriadProBold";
  src: url("../fonts/MyriadProBold.eot");
  src: url("../fonts/MyriadProBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/MyriadProBold.woff") format("woff"),
  url("../fonts/MyriadProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "MyriadProBoldItalic"; */
@font-face {
  font-family: "MyriadProBoldItalic";
  src: url("../fonts/MyriadProBoldItalic.eot");
  src: url("../fonts/MyriadProBoldItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/MyriadProBoldItalic.woff") format("woff"),
  url("../fonts/MyriadProBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "MyriadProItalic"; */
@font-face {
  font-family: "MyriadProItalic";
  src: url("../fonts/MyriadProItalic.eot");
  src: url("../fonts/MyriadProItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/MyriadProItalic.woff") format("woff"),
  url("../fonts/MyriadProItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "MyriadProRegular"; */
@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/MyriadProRegular.woff") format("woff"),
  url("../fonts/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}